@use "vuetify/settings" with (
  // Reference vuetify/lib/settings
  $utilities: false,
  $color-pack: false,
  $application-color: rgb(var(--v-theme-on-background)),
  $application-background: #ffffff,
  $app-bar-background: #ffffff,
  $app-bar-color: rgb(var(--v-theme-text)),
  $breadcrumbs-item-disabled-opacity: 1,
  $button-background: rgb(var(--v-theme-primary)),
  $button-color: rgb(var(--v-theme-on-primary)),
  $button-disabled-opacity: 0.6,
  $button-elevation: ("default": 0, "hover": 2, "active": 4),
  $button-font-weight: 700,
  $button-font-size: 14px,
  $button-padding-ratio: 1.8,
  $button-plain-opacity: 1,
  $button-text-transform: "none",
  $chip-font-size: 12px,
  $chip-font-weight: 700,
  $chip-padding-ratio: 1.4,
  $input-density: ("default": -2, "comfortable": -3.5, "compact": -5),
  // $multiplier
  $field-font-size: 1rem,
  $field-label-floating-scale: 1rem,
  $field-control-padding-start: 12px,
  $field-control-padding-end: 12px,
  $field-input-min-height: 36px,
  $input-control-height: 50px,
  $list-color: rgb(var(--v-theme-text)),
  $list-item-padding: 8px 16px,
  $list-item-one-line-min-height: 36px,
  $navigation-drawer-background: #ffffff,
  $pagination-item-margin: 9px,
  $ripple-animation-visible-opacity:
    calc(0.12 * var(--v-theme-overlay-multiplier)),
  $table-background: transparent,
  $table-color: rgb(var(--v-theme-text)),
  $table-header-font-weight: 700,
  $table-header-height: 28px,
  $table-row-height: 40px,
  $tabs-height: 40px,
  $tooltip-background-color: rgba(var(--v-theme-surface-variant), 1),
  $snackbar-wrapper-min-height: 40px
);
